$blue: #1A2952;
$white: #fff;
$orange: #b0722c;
$red: #7f2228;
$black: #555;
$true-black: #000;
$cream: #FAF0D7;
$pink: #E75574;
$lightPink: #EAC4CC;
$faded-pink: #fd859e;
$brightPink: #EA0F3E;
$dark-grey: #545454;

$green: #8c9a2b;
$lightGreen: #a5b341;
$darkBrown: #282109;
$mediumBrown: #392f0d;
$brown: #e8d9a7;
$yellow: #fefb9a;
$faded-blue: #687ba3;
$blue-grey: #46536d;

$navColor: brown;
$formColor: $blue;

$background-image: url('../img/leaves.png');

@import "bootstrap";

$font: 'Lato', sans-serif;
$font-family: $font;
$headerFont: 'Yeseva One', serif;

$easeIn: cubic-bezier(0.550, 0.085, 0.680, 0.530); 

::selection {
	background-color: $blue;
	color: $cream;
}

@mixin animate($property, $time, $function) { 
	-webkit-transition: $property $time $function; 
	   -moz-transition: $property $time $function; 
	    -ms-transition: $property $time $function;; 
	     -o-transition: $property $time $function;
	        transition: $property $time $function;

	-webkit-transition-timing-function: $function; 
	   -moz-transition-timing-function: $function;
	    -ms-transition-timing-function: $function;
	     -o-transition-timing-function: $function;
	        transition-timing-function: $function;
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  visibility: visible;
	  opacity: 1;
	}
  }


@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

.container {
	.body-md & {
		padding: 2em;
	}
}

@media screen and (min-width: 768px) {
	.modal-dialog {
		left: 0%;
	}
}

.row:before, .row:after {display: none !important;} // fix safari bug with bootstrap grid

body { 
	// padding-top: 125px;
	background-color: $blue;
	background-image: $background-image;
	background-attachment: fixed;
	font-family: $font;
}

a.anchor {
	display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
	font-family: $headerFont;
	visibility: hidden;
}

h3 {
	font-size: 22px;
}

.fadeIn {
	animation: 1s fadeIn;
	animation-fill-mode: forwards;
}

.hidden {
	display: none !important;
}

.centered {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.jumbotron p {
	line-height: 1.4;
}

a { 
	color: $pink;
	&:hover { 
		color: $faded-pink;
	}
}

h2 { 
	font-weight: lighter;
	color: $blue;
	margin-top: 0px;
	font-family: 'Yeseva One', serif;
	font-size: 40px;

	.body-xs & {
		font-size: 26px;
	}
}
p { 
	visibility: hidden; // hidden on initial load
	font-size: 17px;
	&.first-child { 
		margin-top: 20px;
	}
}
dd { 
	font-size: 14px;
	margin-bottom: 10px;
	color: $dark-grey;
}
dt { 
	font-weight: lighter;
	font-family: 'Yeseva One', serif;
	color: $faded-blue;
}

.card {
	background-color: $blue;
	@extend %medium-drop-shadow;
	padding: 3em;
	margin: 3em !important;

	.body-xs & {
		margin: 0px !important;
	}
}

.modal-backdrop.show {
	background-color: $blue;
	opacity: 0;
}

body.modal-open {
	margin-left: auto;
	margin-right: auto;
}

.modal-content {
	background-color: $cream;
	color: $white;

	p {
		color: $blue;
	}

	button {
		background-color: $pink;
		color: $white;

		&:hover, &:active {
			background-color: $faded-pink;
			color: $white;
			border: 1px solid $faded-pink;
		}
	}

	.padding { 
		margin: 2em;
		background-color: $cream;
	}
}

.modal-footer {
	border-top: 0px;
	text-align: center !important;
	margin-top: 0px;
	padding-top: 0px;
}

.header {
	width: 100%;
}

%light-drop-shadow {
	-webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.15);
	box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.15);	
}

%medium-drop-shadow {
	-webkit-box-shadow: -4px 10px 9px -8px rgba(0,0,0,0.56);
	-moz-box-shadow: -4px 10px 9px -8px rgba(0,0,0,10);
	box-shadow: -4px 10px 9px -8px rgba(0,0,0,10);
}

#navbarbefore,
#navbar:after {
    content: '';
    display: table;
}

#navbar {
	background-color: $cream;
	border-bottom: 0px;
	@extend %light-drop-shadow;
	width: 100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 9999;
	margin-bottom: 125px;

	.container { 
		padding-top: 0px;
		padding-bottom: 0px;
	}
	h3 { 

		.body-sm &, .body-xs & {
			font-size: 16px;
		}

		color: $blue;
		font-family: 'Yeseva One', serif;
		font-size: 23px;
		position: relative;
		top: -5px;
		width: 50%;
		span { 
			font-weight: lighter;
			font-family: $font-family;
			color: $blue;
			font-size: 19px;

			.body-sm & {
				font-size: 16px;
			}

			.body-xs & {
				font-size: 14px;
			}
		}

		a {
			color: inherit;
			&:hover {
				color: inherit;
				text-decoration: none;
			}
		}
	}


	#text-menu {
		.body-sm &, .body-xs & {
			display: none;
		}
		.body-md &, .body-lg &, .body-xl & {
			display: block;
		} 

		p { 
			margin-top: 2em;
			margin-bottom: 0px;
			float: right;
			a:first-child { 
				margin-left: 2em;
			}
	
			.body-sm & {
				float: none;
				margin-top: 1em;
				a:first-child { 
					margin-left: 0px;
	
				}
				display: none;
			}
		}
		.icon {
			color: $blue;
			&:hover {
				color: $faded-blue;
			}
		}
	}

	.icon {
		color: $blue;
		&:hover {
			color: $faded-blue;
		}
	}

	#hamburger-menu {
		text-align: right;
		display: none;
		font-size: 25px;
		margin-top: 7px;
		color: $pink;
		cursor: pointer;
		&:hover {
			color: $faded-pink;
		}
		.body-sm &, .body-xs & {
			display: block;
		}
		.body-md &, .body-lg &, .body-xl & {
			display: none;
		} 
		.icon {
			color: $blue;
		}
	}
}

#navbarToggleExternalContent {
	display: none;

	p {
		font-size: 14px;
	}
}

aside { 
	clear: both;
	padding: 2em 0 2em 0;
	.container { 
		background-color: $blue;
		padding: 2em;
	}
}

.trees { 
	background-attachment: fixed;
	padding: 0px;
	height: 3.5em;
	margin-bottom: 0px;
	background-size: cover;
	margin-top: 0px;
	&.thin { 
		height: 1em;
	}
	&.wrapper {
		height: auto;

		.aside {
			background-color: $cream;
		}
	}
}

.jumbotron { 
	background-color: $cream;
	color: $dark-grey;
	margin-bottom: 0px;
	font-weight: normal;

	&#contact {
		.container {
			.body-xs & {
				padding-left: 0px;
				padding-right: 0px;
			}
		}	
	}

	.container { 
		margin: 0px auto 0px auto;
		padding-top: 3em;
		padding-bottom: 3em;

		.body-xs & {
			padding: 2em;
		}

		&.aside {
			background-color: $cream;
		}
	}
	padding: 0px;
	.close { 
		color: white;
		&:hover { 
			color: $yellow;
		}
	}
}

.dark-jumbotron { 
	background-color: $blue;
	&.clear {
		background-color: transparent;
	}
	h2 {
		color: $cream;
	}
	h3 {
		color: $cream;
		font-family: $font-family;
		font-weight: 100;
	}
	p {
		color: $cream;
		font-size: 17px;
	}
}

#welcome { 
	display: none;
	&.active { 
		display: block;
	}
}

.project {
	padding-bottom: 1em;
}

form#new-contact {
	textarea {
		height: 150px;	
	}

	button {
		margin-top: 2em;

		.hide-xs {
			.body-xs & {
				display: none;
			}
		}
	}

	button.done {
		background-color: $faded-blue;
		border: 1px solid $faded-blue;	
	}

}

.form-control {
	margin: 5px;
	background-color: $cream;
	border-color: $faded-blue;
	color: $blue;		
}

input.form-control, textarea.form-control { 
	padding: 16px !important;
	font-size: 17px;
	font-weight: normal;
}

input.form-control {
	height: 40px;
}

input::placeholder, textarea::placeholder {
	color: $pink !important;
}

input:focus, textarea:focus {
	background-color: $cream !important;	
}

input, textarea {
	&.invalid {
		border: 5px solid $pink;
	}
}

.btn-primary {
	background-color: $pink;
	border-color: $pink;
	margin-top: 10px;
	font-size: 17px;

	&:hover {
		background-color: $faded-pink;
	}
}

footer { 
	background-color: $cream;
	padding: 10px;
	text-align: center;

	p {
		margin-bottom: 0px;
		text-align: left;

		.body-sm &, .body-xs & {
			text-align: center;
		}
	}

	.icon {
		color: $blue
	}
}

.thumbnails { 
	margin-bottom: 0px !important;
	padding-bottom: 0px;
	h2 { 
		font-weight: 300;
		color: $green;
		margin-bottom: 1em;
	}
	.row { 
		> div { 
			margin-bottom: 2em;

		}
	}
	cursor: pointer;
	.thumbnail { 
		padding :0px;
		border: 0px solid $brown;
		background-color: $green;
		.description { 
			position: absolute;
			z-index: 100;
			padding: 1em;
			padding-right: 3em;
			width: 100%;
			font-size: 20px;
			font-weight: normal;
			opacity: 0;
			color: white;
			line-height: 24px;
			span { 
				display: block;
				font-size: 14px;
				font-style: italic;
				font-weight: lighter;
				line-height: 15px;
				margin-top: 5px;
			}
		}

		&:hover { 
			padding: 0px;
			border: 0px;
			-webkit-border-radius: 0px;
		    border-radius: 0px;
			background-clip: padding-box;

			.description { 
				opacity: 1;
			}
			img {
				opacity: 0;
			}
		}
		
		.caption { 
			h4 { 
				color: $green;
			}
			p { 
				color: $darkBrown;
			}
		}
	}
	
}

.btn-default:hover { 
	background-color: $green;
	border-color: $green;
	color: white;
}

#candace {
	float: right;

	img {
		width: 100%;
	}

	figcaption {
		font-size: 15px;
		font-style: italic;
		line-height: 1.5;
	}
}

.badge-light {
	background-color: $pink;
	color: $blue !important;
	&:hover {
		color: $blue !important;
		background-color: $faded-pink !important;
	}
}